In [1]:
import acquire as a

In [2]:
df = a.get_planet_data()

https://swapi.dev/api/planets/?page=2
https://swapi.dev/api/planets/?page=3
https://swapi.dev/api/planets/?page=4
https://swapi.dev/api/planets/?page=5
https://swapi.dev/api/planets/?page=6

# Create a new local git repository and remote repository on github named time-series-exercises. Save this work for this module in your time-series-exercises repo.

    The end result of this exercise should be a file named acquire.py.

**Using the code from the lesson as a guide and the REST API from https://swapi.dev/ as we did in the lesson, create a dataframe named people that has all of the data for people.**
1. Do the same thing, but for planets.
2. Extract the data for starships.
3. Save the data in your files to local csv files so that it will be faster to access in the future.
4. Combine the data from your three separate dataframes into one large dataframe.
5. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv
6. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

## Imports

In [14]:
## New library 
import requests
import numpy as np 
import pandas as pd
import os 

root_url = 'http://swapi.dev/api'
def get_api_resources(root_url):
    '''
    get_api_resources takes in a root url, and will parse the available
    resources within and display them to the user
    '''
    response = requests.get(root_url)
    resources = response.json()
    for key, value in resources.items():
        print(f'{key}: {value}\n')

# Do the same thing, but for planets.

In [17]:
test = get_api_resources(root_url)

people: https://swapi.dev/api/people/

planets: https://swapi.dev/api/planets/

films: https://swapi.dev/api/films/

species: https://swapi.dev/api/species/

vehicles: https://swapi.dev/api/vehicles/

starships: https://swapi.dev/api/starships/

In [60]:
r = requests.get( 'https://swapi.dev/api/planets/')
planets = r.json()

In [61]:
planets.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [58]:
df = pd.DataFrame(planets['results'])

In [73]:
next_page = planets['next']
number_of_planets = planets['count']
previous_page = planets['previous']

In [85]:
planets = requests.get(next_page)
planets = planets.json()
df2 = pd.DataFrame(planets['results'])
concat_me = [df,df2]
df = pd.concat(concat_me).reset_index()
df.head()

,level_0,index,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,0,0.0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,1,1.0,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"[https://swapi.dev/api/people/5/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,2,2.0,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],[https://swapi.dev/api/films/1/],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,3,3.0,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],[https://swapi.dev/api/films/2/],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,4,4.0,Dagobah,23,341,8900,murky,N/A,"swamp, jungles",8,unknown,[],"[https://swapi.dev/api/films/2/, https://swapi...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/

In [88]:
planets = requests.get(planets['next'])

In [89]:
planets = planets.json()

In [92]:
df2 = pd.DataFrame(planets['results'])
concat_me_1 = [df,df2]
df = pd.concat(concat_me).reset_index()
df.head()

ValueError: cannot insert level_0, already exists